@font-face{
	font-family:"Pacifico";
	src: url(../fonts/Pacifico-Regular.ttf);
	
}
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  margin: 0;
  padding: 0;
 background: url(../img/fondo.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.form-register{
  border: 3px solid red;
  width: 480px;
  height: 710px;
  background: black;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px red;
  border-radius: 20px;
  background: rgba(0,0,0,0.7);
  margin-bottom: 40px;
}

.form-register h1{
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Pacifico';
  font-weight: 100;
}


.controls {
  width: 100%;
  background: rgba(0,0,0,0.9);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid red;
  font-family: 'calibri';
  font-size: 18px;
  color: white;


}

.form-register p{
  height: 40px;
  text-align: center;
  font-size: 18px;

}

.form-register a{
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
  }

  .form-register input[type="submit"] {
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
